@import "tailwindcss";

#stats-grid {
  @apply grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--stats-grid-gap);
  margin-bottom: var(--stats-grid-margin-bottom);
}

.stat-box {
  background-color: var(--key-background-color);
  border: 2px solid var(--tile-border-color);
  border-radius: 5px;
  padding: var(--stat-box-padding);
  @apply text-center;
}

.dark-mode .stat-box {
  background-color: var(--background-color-dark);
  border-color: var(--text-color-dark);
}

.stat-number {
  font-size: var(--stat-number-font-size);
  @apply font-bold;
  @apply mb-[5px];
}

.stat-label {
  font-size: var(--stat-label-font-size);
}

#guess-distribution {
  @apply flex;
  @apply flex-col;
  @apply gap-[5px];
  @apply w-full;
}

.guess-row {
  @apply flex;
  @apply items-center;
  @apply w-9/10;
}

.guess-label {
  width: var(--guess-label-width);
  @apply text-right;
  @apply mr-[10px];
  @apply font-bold;
  font-size: var(--guess-label-font-size);
}

.guess-bar {
  @apply grow;
  height: var(--guess-bar-height);
  background-color: var(--absent-color);
  @apply relative;
  @apply rounded-[4px];
}

.guess-bar-fill {
  background-color: var(--correct-color);
  @apply h-full;
  @apply rounded-[4px];
  transition: width 0.5s ease-in-out;
}

.guess-count {
  @apply absolute;
  @apply right-[5px];
  @apply top-1/2;
  transform: translateY(-50%);
  @apply font-bold;
  color: var(--text-color-light);
  font-size: var(--guess-count-font-size);
}

.dark-mode .guess-count {
  color: var(--text-color-dark);
}
