@import "tailwindcss";

#stats-grid {
  @apply grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--stats-grid-gap);
  margin-bottom: var(--stats-grid-margin-bottom);
}

.stat-box {
  background-color: var(--key-background-color);
  border: 2px solid var(--tile-border-color);
  border-radius: var(--stat-box-border-radius);
  padding: var(--stat-box-padding);
  @apply text-center;
}

.dark-mode .stat-box {
  background-color: var(--background-color-dark);
  border-color: var(--text-color-dark);
}

.stat-number {
  font-size: var(--stat-number-font-size);
  @apply font-bold;
  margin-bottom: var(--stat-number-margin-bottom);
}

.stat-label {
  font-size: var(--stat-label-font-size);
}

#guess-distribution {
  @apply flex;
  @apply flex-col;
  gap: var(--guess-distribution-gap);
  @apply w-full;
}

#stats-container h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.guess-row {
  @apply flex;
  @apply items-center;
  width: 90%;
}

.guess-label {
  width: var(--guess-label-width);
  @apply text-right;
  margin-right: var(--guess-label-margin-right);
  @apply font-bold;
  font-size: var(--guess-label-font-size);
}

.guess-bar {
  @apply grow;
  height: var(--guess-bar-height);
  background-color: var(--absent-color);
  @apply relative;
  border-radius: var(--guess-bar-border-radius);
}

.guess-bar-fill {
  background-color: var(--correct-color);
  @apply h-full;
  border-radius: var(--guess-bar-fill-border-radius);
  transition: width 0.5s ease-in-out;
}

.guess-count {
  @apply absolute;
  right: var(--guess-count-right);
  top: 50%;
  transform: translateY(-50%);
  @apply font-bold;
  color: var(--text-color-light);
  font-size: var(--guess-count-font-size);
}

.dark-mode .guess-count {
  color: var(--text-color-dark);
}
